body{
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 50px;
    color: rgb(36, 35, 35);
}
input{
    width: 250px;
    height: 40px;
    margin: 0 30px 10px ;
}
button{
    width: 250px;
    height: 30px;
    background-color: rgb(4, 129, 246);
    color: white;
    border: none;
    border-radius: 20px;
}
#a2, p{
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
a{
    margin: 30px 0 30px;
}
