body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 350px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #242323;
    margin-bottom: 20px;
}
input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width: 100%;
    height: 40px;
    background-color: #0481f6;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #0368c3;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.separator::before, .separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.separator:not(:empty)::before {
    margin-right: 10px;
}
.separator:not(:empty)::after {
    margin-left: 10px;
}
a {
    text-decoration: none;
    color: #0366d6;
    font-size: 14px;
}
a:hover {
    text-decoration: underline;
}
#a1 {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #3b5998;
}